.slide-in {
  opacity: 0;
  transform: translateX(40px);
  animation: slideIn 0.3s forwards;
}

.slide-out {
  opacity: 1;
  transform: translateX(0);
  animation: slideOut 0.3s forwards;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOut {
  to {
    opacity: 0;
    transform: translateX(-40px);
  }
}

.correct {
  background-color: #4caf50 !important;
  color: white !important;
}

.wrong {
  background-color: #f44336 !important;
  color: white !important;
}


.timer-fill {
  transition: width 1s linear;
}
