.animate-scale {
  animation: scaleFade 0.6s ease forwards;
}

@keyframes scaleFade {
  0% {
    opacity: 0;
    transform: scale(0.85);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.summary-item.correct {
  border-left: 4px solid #4ad27c !important;
  background: #eafbf1 !important;
}

.summary-item.wrong {
  border-left: 4px solid #ff4d4d !important;
  background: #ffefef !important;
}
